# Server Configuration
PORT=3000
NODE_ENV=development

# MySQL Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=giveandgo_v2

# JWT Authentication
JWT_SECRET=
JWT_EXPIRES_IN=24h
